In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
alsfrs_orig_raw = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/본 실험/ALSFRS_original.csv')
alsfrs_orig = alsfrs_orig_raw.sort_values(by=['SubjectID','feature_delta'], axis=0).reset_index().drop(columns='index')

### Preprocessing

1. ALSFRS_Q

In [ ]:
alsfrs_raw = alsfrs_orig.copy()

In [ ]:
alsfrs_raw.query("feature_delta < 92", inplace=True)
alsfrs_raw.drop(columns=['Q5a_Cutting_without_Gastrostomy', 'Q5b_Cutting_with_Gastrostomy'], inplace=True)

In [ ]:
alsfrs_raw['Bulbar'] = alsfrs_raw['mouth'] - alsfrs_raw['Q2_Salivation']
alsfrs_raw['motor'] = alsfrs_raw['hands'] + alsfrs_raw['trunk'] + alsfrs_raw['leg']

In [ ]:
alsfrs_raw

       SubjectID  feature_delta  ALSFRS_Total  ...  respiratory  Bulbar  motor
0            329              0          27.0  ...          3.0     8.0   13.0
1            329              8          26.5  ...          3.0     8.0   12.5
2            329             16          26.0  ...          3.0     8.0   12.0
3            329             42          30.0  ...          4.0     8.0   15.0
4            329             72          30.0  ...          3.0     8.0   16.0
...          ...            ...           ...  ...          ...     ...    ...
59246     999880             49          24.0  ...          4.0     8.0    8.0
59247     999880             70          25.0  ...          4.0     8.0    9.0
59255     999990             12          22.0  ...          4.0     7.0    7.0
59256     999990             40          19.0  ...          4.0     7.0    4.0
59257     999990             68          19.0  ...          4.0     7.0    4.0

[20851 rows x 20 columns]

In [ ]:
df = alsfrs_raw.groupby('SubjectID').agg('mean')
df.drop(columns=['feature_delta','mouth', 'hands', 'leg', 'trunk', 'respiratory'], inplace=True)
df = df.reset_index()

In [ ]:
df.columns=['SubjectID', 'mean_alsfrs_total', 'mean_Q1_Speech', 'mean_Q2_Salivation', 'mean_Q3_Swallowing', 'mean_Q4_Handwriting', 'mean_Q5_Cutting', 'mean_Q6_Dressing_and_Hygiene', 'mean_Q7_Turning_in_Bed', 'mean_Q8_Walking', 'mean_Q9_Climbing_Stairs', 'mean_Q10_Respiratory', 'mean_Bulbar', 'mean_motor']

In [ ]:
mean_alsfrs_scores = df.copy()
mean_alsfrs_scores = mean_alsfrs_scores.sort_values(by=['SubjectID'], axis=0, ascending=True)
mean_alsfrs_scores

      SubjectID  mean_alsfrs_total  ...  mean_Bulbar  mean_motor
0           329          27.900000  ...     8.000000   13.700000
1           348          30.250000  ...     8.000000   14.250000
2           533          28.666667  ...     3.000000   21.333333
3           586          31.000000  ...     1.000000   24.000000
4           649          35.666667  ...     5.666667   23.000000
...         ...                ...  ...          ...         ...
6502     999166          35.000000  ...     7.000000   21.000000
6503     999482          36.250000  ...     6.500000   23.000000
6504     999823          35.250000  ...     5.500000   22.750000
6505     999880          24.200000  ...     8.000000    8.200000
6506     999990          20.000000  ...     7.000000    5.000000

[6507 rows x 14 columns]

In [ ]:
df3 = alsfrs_raw.groupby('SubjectID').agg(['first', 'last'])
df3['interval'] = df3.iloc[:, 1] - df3.iloc[:, 0]
df3['slope_alsfrs_total'] = (df3.iloc[:,3] - df3.iloc[:,2])/df3['interval']
df3['slope_Q1_Speech'] = (df3.iloc[:,5] - df3.iloc[:,4])/df3['interval']
df3['slope_Q2_Salivation'] = (df3.iloc[:,7] - df3.iloc[:,6])/df3['interval']
df3['slope_Q3_Swallowing'] = (df3.iloc[:,9] - df3.iloc[:,8])/df3['interval']
df3['slope_Q4_Handwriting'] = (df3.iloc[:,11] - df3.iloc[:,10])/df3['interval']
df3['slope_Q5_Cutting'] = (df3.iloc[:,13] - df3.iloc[:,12])/df3['interval']
df3['slope_Q6_Dressing_and_Hygiene'] = (df3.iloc[:,15] - df3.iloc[:,14])/df3['interval']
df3['slope_Q7_Turning_in_Bed'] = (df3.iloc[:,17] - df3.iloc[:,15])/df3['interval']
df3['slope_Q8_Walking'] = (df3.iloc[:,19] - df3.iloc[:,18])/df3['interval']
df3['slope_Q9_Climbing_Stairs'] = (df3.iloc[:,21] - df3.iloc[:,20])/df3['interval']
df3['slope_Q10_Respiratory'] = (df3.iloc[:,23] - df3.iloc[:,22])/df3['interval']
df3['slope_Bulbar'] = (df3.iloc[:,35] - df3.iloc[:,34])/df3['interval']
df3['slope_motor'] = (df3.iloc[:,37] - df3.iloc[:,36])/df3['interval']

In [ ]:
df4 = df3.iloc[:, 39:]
df4 = df4.reset_index()

In [ ]:
slope_alsfrs_scores = df4.copy()
slope_alsfrs_scores = slope_alsfrs_scores.sort_values(by=['SubjectID'], axis=0, ascending=True)
slope_alsfrs_scores

     SubjectID slope_alsfrs_total  ... slope_Bulbar slope_motor
                                   ...
0          329           0.041667  ...     0.000000    0.041667
1          348          -0.016393  ...     0.000000   -0.016393
2          533          -0.010989  ...    -0.010989    0.010989
3          586                NaN  ...          NaN         NaN
4          649           0.000000  ...     0.016393   -0.016393
...        ...                ...  ...          ...         ...
6502    999166                NaN  ...          NaN         NaN
6503    999482          -0.037500  ...    -0.025000    0.000000
6504    999823          -0.024390  ...    -0.024390    0.000000
6505    999880           0.014286  ...     0.000000    0.014286
6506    999990          -0.053571  ...     0.000000   -0.053571

[6507 rows x 14 columns]

In [ ]:
alsfrs_tot_slope = slope_alsfrs_scores.sort_values(by=['SubjectID'], axis=0, ascending=True)
alsfrs_tot_slope = alsfrs_tot_slope.reset_index()

In [ ]:
alsfrs_tot_slope.iloc[:,1:]

     SubjectID slope_alsfrs_total  ... slope_Bulbar slope_motor
                                   ...
0          329           0.041667  ...     0.000000    0.041667
1          348          -0.016393  ...     0.000000   -0.016393
2          533          -0.010989  ...    -0.010989    0.010989
3          586                NaN  ...          NaN         NaN
4          649           0.000000  ...     0.016393   -0.016393
...        ...                ...  ...          ...         ...
6502    999166                NaN  ...          NaN         NaN
6503    999482          -0.037500  ...    -0.025000    0.000000
6504    999823          -0.024390  ...    -0.024390    0.000000
6505    999880           0.014286  ...     0.000000    0.014286
6506    999990          -0.053571  ...     0.000000   -0.053571

[6507 rows x 14 columns]

In [ ]:
df1 = mean_alsfrs_scores
df2 = alsfrs_tot_slope.iloc[:,2:]

alsfrs_q = pd.concat([df1, df2], axis=1)
alsfrs_q.columns = ['SubjectID','mean_alsfrs_total','mean_Q1_Speech','mean_Q2_Salivation','mean_Q3_Swallowing','mean_Q4_Handwriting','mean_Q5_Cutting','mean_Q6_Dressing_and_Hygiene',
'mean_Q7_Turning_in_Bed','mean_Q8_Walking','mean_Q9_Climbing_Stairs','mean_Q10_Respiratory','mean_Bulbar','mean_motor','slope_alsfrs_tot','slope_Q1_Speech',
'slope_Q2_Salivation','slope_Q3_Swallowing','slope_Q4_Handwriting','slope_Q5_Cutting','slope_Q6_Dressing_and_Hygiene','slope_Q7_Turning_in_Bed','slope_Q8_Walking','slope_Q9_Climbing_Stairs','slope_Q10_Respiratory',
'slope_Bulbar','slope_motor']
alsfrs_q

      SubjectID  mean_alsfrs_total  ...  slope_Bulbar  slope_motor
0           329          27.900000  ...      0.000000     0.041667
1           348          30.250000  ...      0.000000    -0.016393
2           533          28.666667  ...     -0.010989     0.010989
3           586          31.000000  ...           NaN          NaN
4           649          35.666667  ...      0.016393    -0.016393
...         ...                ...  ...           ...          ...
6502     999166          35.000000  ...           NaN          NaN
6503     999482          36.250000  ...     -0.025000     0.000000
6504     999823          35.250000  ...     -0.024390     0.000000
6505     999880          24.200000  ...      0.000000     0.014286
6506     999990          20.000000  ...      0.000000    -0.053571

[6507 rows x 27 columns]

2. Static features & Time resolved features

In [ ]:
demographics = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/본 실험/demographic.csv')
als_hx = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/본 실험/als_hx.csv')
fvc_3mo = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/본 실험/fvc_3mo_meta.csv')

In [ ]:
demographics = demographics[['SubjectID', 'Age', 'Gender']]
als_hx['diag_minus_onset'] = als_hx['diag_delta'] - als_hx['onset_delta']
fvc_3mo = fvc_3mo[['SubjectID','fvc_slope', 'fvc_mean']]

In [ ]:
static = pd.DataFrame(columns=['SubjectID'])
static_list = [demographics, als_hx]
for i in static_list :
    df = i
    static = static.merge(df, on='SubjectID', how='outer')

3. Merge features

In [ ]:
features_1 = static.merge(fvc_3mo, on='SubjectID', how='outer')
features_1 = features_1.reset_index().drop(columns='index')

In [ ]:
features_1.isnull().sum()

SubjectID              0
Age                 1197
Gender              1196
diag_delta          5389
onset_delta         5389
onset_site          5390
diag_minus_onset    5389
fvc_slope           4587
fvc_mean            2626
dtype: int64

In [ ]:
features = features_1.merge(alsfrs_q, on='SubjectID', how='outer')
features

      SubjectID   Age Gender  ...  slope_Q10_Respiratory  slope_Bulbar slope_motor
0           329  38.0      F  ...                    0.0      0.000000    0.041667
1           348  52.0      F  ...                    0.0      0.000000   -0.016393
2           533  65.0      F  ...                    0.0     -0.010989    0.010989
3           586  63.0      M  ...                    NaN           NaN         NaN
4           649  48.0      F  ...                    0.0      0.016393   -0.016393
...         ...   ...    ...  ...                    ...           ...         ...
9838     996564   NaN    NaN  ...                    NaN           NaN         NaN
9839     996669   NaN    NaN  ...                    NaN           NaN         NaN
9840     996888   NaN    NaN  ...                    NaN           NaN         NaN
9841     998661   NaN    NaN  ...                    NaN           NaN         NaN
9842      99872   NaN    NaN  ...                    NaN           NaN         NaN

[9843 rows x 35 columns]

In [ ]:
Gend = {"F":0, "M":1}
onsetsite = {"Other":0, "Bulbar":1, "Limb":0, "Limb and Bulbar":0}
# Bubar_onset = 1, non-Bulbar_onset = 0

In [ ]:
features = features.replace({'Gender':Gend})
features = features.replace({'onset_site':onsetsite})
features

      SubjectID   Age  Gender  ...  slope_Q10_Respiratory  slope_Bulbar  slope_motor
0           329  38.0     0.0  ...                    0.0      0.000000     0.041667
1           348  52.0     0.0  ...                    0.0      0.000000    -0.016393
2           533  65.0     0.0  ...                    0.0     -0.010989     0.010989
3           586  63.0     1.0  ...                    NaN           NaN          NaN
4           649  48.0     0.0  ...                    0.0      0.016393    -0.016393
...         ...   ...     ...  ...                    ...           ...          ...
9838     996564   NaN     NaN  ...                    NaN           NaN          NaN
9839     996669   NaN     NaN  ...                    NaN           NaN          NaN
9840     996888   NaN     NaN  ...                    NaN           NaN          NaN
9841     998661   NaN     NaN  ...                    NaN           NaN          NaN
9842      99872   NaN     NaN  ...                    NaN           NaN          NaN

[9843 rows x 35 columns]

4. Remove rows "onset_delta = NaN"

In [ ]:
data = features.copy()

In [ ]:
data = data[['SubjectID', 'onset_delta']]

In [ ]:
data2 = data.dropna(subset=['onset_delta'])
extent2 = list(data2["SubjectID"].unique())

In [ ]:
features = features.query("SubjectID == {0}".format(extent2))
features = features.replace([np.inf, -np.inf], np.nan)
features

      SubjectID   Age  Gender  ...  slope_Q10_Respiratory  slope_Bulbar  slope_motor
0           329  38.0     0.0  ...               0.000000      0.000000     0.041667
1           348  52.0     0.0  ...               0.000000      0.000000    -0.016393
2           533  65.0     0.0  ...               0.000000     -0.010989     0.010989
3           586  63.0     1.0  ...                    NaN           NaN          NaN
5           708  46.0     1.0  ...              -0.010989     -0.010989     0.010989
...         ...   ...     ...  ...                    ...           ...          ...
8647     999761  62.0     1.0  ...                    NaN           NaN          NaN
8648     999823  55.0     1.0  ...               0.000000     -0.024390     0.000000
8650     999880  51.0     1.0  ...               0.000000      0.000000     0.014286
8651     999929  56.0     1.0  ...                    NaN           NaN          NaN
8652     999990  60.0     0.0  ...               0.000000      0.000000    -0.053571

[4454 rows x 35 columns]

In [ ]:
print(features.isnull().sum())

SubjectID                           0
Age                                 0
Gender                              0
diag_delta                          0
onset_delta                         0
onset_site                          1
diag_minus_onset                    0
fvc_slope                        1348
fvc_mean                         1049
mean_alsfrs_total                 365
mean_Q1_Speech                    365
mean_Q2_Salivation                365
mean_Q3_Swallowing                365
mean_Q4_Handwriting               365
mean_Q5_Cutting                   365
mean_Q6_Dressing_and_Hygiene      365
mean_Q7_Turning_in_Bed            365
mean_Q8_Walking                   365
mean_Q9_Climbing_Stairs           365
mean_Q10_Respiratory              365
mean_Bulbar                       365
mean_motor                        365
slope_alsfrs_tot                  595
slope_Q1_Speech                   595
slope_Q2_Salivation               595
slope_Q3_Swallowing               595
slope_Q4_Handwriting              595
slope_Q5_Cutting                  595
slope_Q6_Dressing_and_Hygiene     595
slope_Q7_Turning_in_Bed           595
slope_Q8_Walking                  595
slope_Q9_Climbing_Stairs          595
slope_Q10_Respiratory             595
slope_Bulbar                      595
slope_motor                       595
dtype: int64

### Data imputation

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn import linear_model

In [ ]:
X = features

In [ ]:
columns = X.columns
imputer = IterativeImputer(sample_posterior = True)
ar = imputer.fit_transform(X)
X_imputed = pd.DataFrame(ar, columns = columns)

In [ ]:
X_imputed